@import "reset.scss";

html {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    max-width: calc(100vw - 20vw);
    margin: 0 auto;
    justify-content: space-between;
    padding: 1em;

    h1 {
        font-size: 1.5em;
        font-weight: 700;
    }

    a {
        color: black;
        text-decoration: none;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            padding-right: 1em;
            margin-right: .5em;

            &:hover {
                border-bottom: 1px solid #CF755A;
            }
        }
    }

    .icon {
        display: flex;
        align-items: center;

        svg {

            margin-right: 1em;
        }
    }

}

main {
    overflow: hidden;

    .post-container {
        padding: 0em 5em;

        .posts {
            display: flex;
            padding-bottom: 1em;

            .post1,
            .post2 {
                margin-right: 2em;
            }
            
            .post1, .post2, .post3{
                h3{
                    font-size: 1.5em;
                    font-weight: 800;
                    margin-bottom: 3em;
                }
                p{
                    &:first-of-type{
                        padding: 1em 0em;
                        font-weight: 900;
                        font-size: .9em;
                        letter-spacing: .4px;
                    }
                    &:last-of-type{
                        font-family: 'Source Serif Pro', serif;
                        color: #737373;
                        font-size: 1.2em;
                        line-height: 2;
                    }
                }
            }

            div {
                display: flex;
                flex-direction: column;
                width: 600px;
            }
        }
    }

    .product-container {
        .posts{
            justify-content: center;
            .post1 {
                width: 450px;
                margin: 0;
            }
        }
    }

    img.hero {
        object-fit: cover;
        width: 100vw;
    }

    h2 {
        padding: 2em 1em;
        padding-bottom: 3em;
        color: #CF755A;
        font-weight: 800;
        display: flex;
        justify-content: center;
        font-size: 2em;
    }

}
.sub{
    background-color: #D8D5BF;
    padding: 5em 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 2em;
        font-weight: 900;
    }
    button{
        background-color: #CF755A;
        padding: 1em 3em;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1em;
        border: none;
    }
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em;
    background-color: #AEC1BA;
}